language: node_js
node_js:
  - "4.1.1"
before_install:
  - "sudo apt-get update"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
before_script:
  - "npm install -g gulp"
  - "sudo apt-get -y -q install --fix-missing libav-tools"
  - "export DISPLAY=:99.0"
  - "avconv -f x11grab -r 25 -s 1280x1024 -i :99.0 -threads 4 $HOME/output.mpg &"
script: gulp
after_script:
  - git config --global user.email "travis@travis-ci.org"
  - git config --global user.name "Travis"
  - mkdir gh-pages
  - cd gh-pages
  - git init
  - git remote add origin https://${GH_TOKEN}@github.com/zzo/zzo.github.io.git > /dev/null
  - git checkout -B gh-pages
  - cp $HOME/output.mpg .
  - git add output.mpg
  - ls -l output.mpg
  - git commit -m "video updated"
  - git push origin gh-pages -fq > /dev/null
