language: node_js
node_js:
  - "4.1.1"
before_script:
  - "npm install -g gulp"
  - "sudo aptitude -y -q install libcairo2-dev libpixman-1-dev libpango1.0-dev libgif-dev libjpeg-dev libgtk2.0-dev vlc libvlc-dev portaudio19-dev libsqlite3-dev libcurl4-openssl-dev makeself curl"
script: gulp
