language: node_js
node_js:
  - "4.1.1"
before_script:
  - "npm install -g gulp"
  - "sudo apt-get -y -q install --fix-missing libav-tools libsdl-image1.2-dev libsdl-mixer1.2-dev libsdl-ttf2.0-dev libsmpeg-dev libsdl1.2-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev"
script: gulp
